:root {
  font-family: $main-font;
  line-height: 1.5;
  font-weight: 400;
  box-sizing: border-box;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 100%;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

body::before {
  content: "";
  background-image: linear-gradient(
      to bottom,
      rgba(26, 32, 44, 1) 0%,
      rgba(26, 32, 44, 0) 40%,
      rgba(26, 32, 44, 0) 50%,
      rgba(26, 32, 44, 1) 100%
    ),
    url("/images/background-harry-potter.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: -1;
  opacity: 0.3;
  filter: blur(3px);
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  padding: 0;
}
