// HARRY P
@font-face {
  font-family: "Harry P";
  src: url("/fonts/HarryP.woff2") format("woff2"),
    url("/fonts/HarryP.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
